/* Global styles */
html {
  font-size: 16px;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}


body {
  margin: 0;
  padding: 0;
  background-color: #D8C0B8;
}

/* Game styles */
#canvas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

#timer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  background-color: #554C3E;
  padding: 0.5rem;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
}

#timer {
  color: #E2DCC7;
  font-size: 3em;
  font-weight: bold;
}


#portrait {
  width: 100%;
  object-fit: cover; /* crop the image to fit the dimensions */
  border-radius: 5px;
}

#questionBox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  width: 100%;
}

#answerBox {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  justify-items: center;
  align-items: center;
  width: 100%;
}

.answer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #6E635F;
  padding: 1rem;
  font-size: 1.8em;
  border: 0.2em solid #E2DCC7;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  color: #E2DCC7;
}

.answer:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

/* Media Queries */
@media (max-width: 768px) {
  #canvas {
    padding: 1rem;
  }

  #portrait {
    width: 100%;
    max-width: 500px;
  }

  #timer {
    font-size: 2em;
  }

  .answer {
    font-size: 1em;
    padding: 0.5rem;
  }
}

@media (max-width: 480px) {
  #timer-container {
    margin-bottom: 1rem;
  }

  #questionBox {
    margin-bottom: 1rem;
  }
}

.shake {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
      transform: translate(1px, 1px) rotate(0deg);
  }

  10% {
      transform: translate(-1px, -2px) rotate(-1deg);
  }

  20% {
      transform: translate(-3px, 0px) rotate(1deg);
  }

  30% {
      transform: translate(3px, 2px) rotate(0deg);
  }

  40% {
      transform: translate(1px, -1px) rotate(1deg);
  }

  50% {
      transform: translate(-1px, 2px) rotate(-1deg);
  }

  60% {
      transform: translate(-3px, 1px) rotate(0deg);
  }

  70% {
      transform: translate(3px, 1px) rotate(-1deg);
  }

  80% {
      transform: translate(-1px, -1px) rotate(1deg);
  }

  90% {
      transform: translate(1px, 2px) rotate(0deg);
  }

  100% {
      transform: translate(1px, -2px) rotate(-1deg);
  }
}


.red.shake{
  background-color: red!important;
}

#score{
  text-align: center;
display: flex;
justify-content: center;
align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100px;
  height: 60px;
  font-size: 40px;
  background-color: #F67280;
  border-bottom-right-radius: 15px;
  color: white;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  
  
}

/* Add these lines at the end of the CSS file */
#muteButton {
  background-color: #ffffff;
  border: 1px solid #212529;
  padding: 5px 10px;
  font-size: 1em;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.2s ease-in-out;
}

#muteButton:hover {
  background-color: #f8f9fa;
}


/* Home button styles */
.home-button-container {
  position: absolute;
  top: 20px;
  right: 0;
  transform: translateX(-50%);
  z-index: 1;
}

.home-button {
  background-color: #ffffff;
  border: 1px solid #212529;
  padding: 5px 10px;
  font-size: 1em;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.2s ease-in-out;
}

.home-button:hover {
  background-color: #f8f9fa;
}

@media (max-width: 768px) {
  .home-button-container {
    top: 50px;
  }
}

.button-container {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.home-button {
  background-color: #ffffff;
  border: 1px solid #212529;
  padding: 5px 10px;
  font-size: 1em;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.2s ease-in-out;
}

.home-button:hover {
  background-color: #f8f9fa;
}
